##---------------Begin: proguard configuration common for all Android apps ----------
-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-dump class_files.txt 
-printseeds seeds.txt 
-printusage unused.txt 
-printmapping mapping.txt 
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-allowaccessmodification
-keepattributes *Annotation*
-renamesourcefileattribute SourceFile
-keepattributes SourceFile,LineNumberTable
-repackageclasses ''

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService
-dontnote com.android.vending.licensing.ILicensingService

# Explicitly preserve all serialization members. The Serializable interface
# is only a marker interface, so it wouldn't save them.
-keepclassmembers class * implements java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

# Preserve all native method names and the names of their classes.
-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembernames class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembernames class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

# Preserve static fields of inner classes of R classes that might be accessed
# through introspection.
-keepclassmembers class **.R$* {
  public static <fields>;
}

# Preserve the special static methods that are required in all enumeration classes.
-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep public class * {
    public protected *;
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}
##---------------End: proguard configuration common for all Android apps ---------- 

-libraryjars /lib/not-yet-commons-ssl-0.3.11.jar
-libraryjars /lib/RootTools.jar

-keepnames class org.apache.** {*;}
-keep public class org.apache.** {*;}

-dontwarn org.apache.commons.ssl.rmi.Test
-dontwarn org.apache.commons.ssl.rmi.RemoteInteger
-dontwarn org.apache.commons.ssl.rmi.RemoteDate
-dontwarn org.apache.commons.ssl.rmi.IntegerRMI_Stub
-dontwarn org.apache.commons.ssl.rmi.IntegerRMI_Skel
-dontwarn org.apache.commons.ssl.rmi.IntegerRMI
-dontwarn org.apache.commons.ssl.rmi.DateRMI_Stub
-dontwarn org.apache.commons.ssl.rmi.DateRMI_Skel
-dontwarn org.apache.commons.ssl.rmi.DateRMI
-dontwarn org.apache.commons.ssl.RMISocketFactoryImpl
-dontwarn org.apache.commons.ssl.LogHelper
-dontwarn org.apache.commons.ssl.Java13TrustManagerWrapper
-dontwarn org.apache.commons.ssl.Java13KeyManagerWrapper
-dontwarn org.apache.commons.ssl.Java13
-dontwarn org.apache.commons.ssl.HttpSecureProtocol

-keep class com.stericson.RootTools.** { *; }


# The support library contains references to newer platform versions.
# Don't warn about those in case this app is linking against an older
# platform version. We know about them, and they are safe.
-dontwarn android.support.**
-dontwarn com.google.ads.**